appnope
asttokens
attrs
autopep8
backcall
contourpy
cycler
debugpy
decorator
entrypoints
exceptiongroup
executing
fonttools
iniconfig
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
parso
pexpect
pickleshare
Pillow
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
Pygments
pyparsing
pytest
python-dateutil
pyzmq
scikit-learn
scipy
six
stack-data
threadpoolctl
tomli
torch
tornado
traitlets
typing_extensions
wcwidth
wget
